---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{ site.author.googlescholar }}" target="_blank" rel="noopener">Google Scholar</a>.</div>
{% endif %}

{% include base_path %}

{%- comment -%}
  Order: ranked first (ascending rank), then unranked by newest date.
  Give a paper `rank:` in its front matter if you want to control its position.
{%- endcomment -%}
{% assign ranked   = site.publications | where_exp: "p", "p.rank != nil" | sort: "rank" %}
{% assign unranked = site.publications | where_exp: "p", "p.rank == nil" | sort: "date" | reverse %}

<ul class="pubs-list" style="list-style: none; padding-left: 0;">
  {%- for post in ranked -%}
    <li style="margin: 0 0 1rem 0;">
      <strong><a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a></strong><br>
      {% if post.venue or post.date %}
        <em>{{ post.venue }}</em>{% if post.venue and post.date %}, {% endif %}{{ post.date | default: "1900-01-01" | date: "%Y" }}
      {% endif %}
    </li>
  {%- endfor -%}

  {%- for post in unranked -%}
    <li style="margin: 0 0 1rem 0;">
      <strong><a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a></strong><br>
      {% if post.venue or post.date %}
        <em>{{ post.venue }}</em>{% if post.venue and post.date %}, {% endif %}{{ post.date | default: "1900-01-01" | date: "%Y" }}
      {% endif %}
    </li>
  {%- endfor -%}
</ul>
